.app_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu_container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu_item {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu_heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.menu_button_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.count_btn {
  width: 40%;
}
.menu_button {
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: #008cba;
  padding: 10px;
}
